<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <title>Pagina</title
        >

</head>
<body>
    <div class="head">
        <div class="logo">    
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Nosotros</a>
            <a href="#">Contactos</a>
            <a href="#">Productos</a>
            <a href="https://www.instagram.com/fastair_myf/">Instagram</a>
        </nav>

    </div>

    <header class="content header">
        <br>
        <br>
        <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="btn-home">
            <a href="#" class="btn">Matias 📱</a>
            <a href="#" class="btn">aaaaaa 📱</a>
        </div>
    </header>
    <section class="content sau">

        <h2 class="title">Servicios</h2>
        <p> Ofrecemos servicio a domicilo.
            diagnosticos, reparaciones, presupuestos



        </p>
            <div class="box-container">

                <div class="box">
                    <i class="#"></i>
                    <h3>Carga De Gas ❄️</h3>
                    <br>
                    <p>Refrigerante R134A <br>
                        <br>
                       Refrigerante1234yf 
                    </p>
                </div>
                <div class="box">
                    <i class="#"></i>
                    <h3>Mantenimiento 🔧</h3>
                    <br>
                    <p>Revision Tecnica <br>
                        <br>
                       Fluidos/Aceite
                    </p>
                </div>
                <div class="box">
                    <i class="#"></i>
                    <h3>Reparacion 🧵</h3> 
                    <br>
                    <p>Mangueras <br>
                    <br>
                     Electricidad</p>
                </div>





            </div>

    </section>

    <section class="content about">
        <h2 class="title">Nosotros</h2>
        <p> Somos especialistas en refrigeracion del automotor. <br>
             nos dedicamos exclusivamente al aireacondcionado. <br>
             ya sea en reparacion o una instalacion nueva para algun <br>
             vehículo que no traiga de fabrica. </p>

            

    </section>

    <section class="content price">

        <article class="contain">
            <h2 class="title">ALGO</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ea eum tempora optio! Provident minus similique ipsum quos illo 
                sequi eveniet optio labore, laboriosam fugiat cumque consequatur 
               iure commodi odio sint!
            </p>

        </article>
    </section>    
</body>
</html>